platforms/
plugins/
node_modules/
www/node_modules/
www/
dist/*
backup/
.idea/workspace.xml
app/scripts/bundle.js
app/scripts/bundle.js.map


.idea/*

*.sublime-project
*.sublime-workspace
app/scripts/templates.js

*.map
.project