<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dlw" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="windows-target-version" value="8.1" />
    <preference name="windows-capability" value="internetClientClientServer" />
    <preference name="BackgroundColor" value="#214458" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="4000" />
    <content src="index.html" />
    <name>Field Anywhere</name>
    <description>Stow-Field Anywhere</description>
    <author email="eli.colpaert@delawareconsulting.com">Delaware Consulting</author>
    <platform name="windows8">
        <icon height="30" src="res/windows8/30.png" width="30" />
        <icon height="50" src="res/windows8/50.png" width="50" />
        <icon height="150" src="res/windows8/150.png" width="150" />
        <icon height="150" src="res/windows8/310x150.png" width="310" />
        <icon height="300" src="res/windows8/620x300.png" width="620" />
    </platform>
    <platform name="android">
        <splash density="land-hdpi" src="res/android/drawable-land-hdpi-screen.png" />
        <splash density="land-ldpi" src="res/android/drawable-land-ldpi-screen.png" />
        <splash density="port-hdpi" src="res/android/drawable-port-hdpi-screen.png" />
        <splash density="port-ldpi" src="res/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="res/android/drawable-port-mdpi-screen.png" />
        <splash density="port-xhdpi" src="res/android/drawable-port-xhdpi-screen.png" />
        <icon density="ldpi" src="res/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="res/android/drawable-xhdpi-icon.png" />
    </platform>
    <access origin="*" />
    <feature name="File Opener2">
        <param name="id" value="io.github.pwlin.cordova.plugins.fileopener2" />
        <param name="url" value="https://github.com/pwlin/cordova-plugin-file-opener2" />
    </feature>
    <plugin name="phonegap-plugin-barcodescanner" spec="~4.1.0" />
    <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <plugin name="cordova-plugin-file-opener2" spec="https://github.com/pwlin/cordova-plugin-file-opener2" />
    <plugin name="cordova-plugin-camera" spec="~2.1.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.2" />
    <plugin name="cordova-plugin-file" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.3.0" />
    <plugin name="cordova-plugin-media" spec="~2.2.0" />
    <plugin name="cordova-plugin-media-capture" spec="~1.2.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
</widget>
